@import 'reset.css';
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 10.02px 0px 10px 0px;
    background-color: #FFFFFF;
    z-index: 1000;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
}
header .menu{
    margin-left: 70px;
    display: flex;
    align-items: center;
}
header .menu li{
    margin-right: 40px;
}
header .menu li a{
    font-size: 16px;
    font-family: caps;
    color: #546E7A;
    display: block;
    padding-top: 2px;
    font-weight: bold;
}
header .rightside{
    display: flex;
    align-items: center;
}
.danger-btn{
    background-color: #E50019;
    font-weight: bold;
    font-family: caps;
    color: white;
    padding: 0px 10px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding-top: 2px;
    margin-left: 10px;
    font-size: 14px;
}
.danger-btn img{
    margin-left: 10px;
    margin-bottom: 2px;
}
header .rightside .dropdown .img-cont{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
header .rightside .dropdown .arr{
    margin-left: 2px;
}
section{
    padding-top: 80px;
}
.intro{
    margin-bottom: 40px;
    position: relative;
}
.intro .search{
    background-color: white;
    padding: 15px 20px 15px 40px;
    border-radius: 35px;
    width: 1100px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.search .dropdown{
    width: fit-content;
    margin-right: 50px;
    flex-shrink: 0;
}
.search .dropdown .result{
    position: absolute;
    top: 100%;
    width: calc( 100% + 10px );
    left: -10px;
}
.search .dropdown .result ul{
    padding: 10px 0px 5px 0px;
}
.search .dropdown .result li{
    padding-left: 10px;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
}
.search .dropdown .selected{
    padding: 0px;
    display: block;
    height: unset;
}
.search .dropdown .selected .title{
    font-size: 14px;
    font-family: caps;
    color: #546E7A;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}
.search .dropdown .selected .title img{
    margin-left: 10px;
    height: fit-content;
}
.search .dropdown .selected .text{
    color: #78909C;
    font-size: 12px;
    width: 100%;
    display: block;
    text-align: left;
}
.search .search-btn{
    background-color: #E50019;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-size: 14px;
    color: white;
    font-family: caps;
    font-weight: bold;
}
.search .search-btn img{
    margin-left: 10px;
}
.search input{
    /* padding-left: 5px; */
    font-size: 12px;
    color: #546E7A;
    border-left: 1px solid #D0E6F5;
    padding-left: 20px;
    width: 100%;
}
.search input::placeholder{
    font-size: 12px;
    color: #78909C;
}
.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 50px;
}
.services .box{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.071);
    border-radius: 5px;
    padding: 15px 10px;
    text-align: center;
    transition: 0.2s;
    background-color: white;
}
.services .box img{
    margin-bottom: 16px;
    height: 40px;
    transition: 0.2s;
}
.services .box .title{
    font-size: 14px;
    display: block;
    width: 100%;
    font-family: caps;
    font-weight: bold;
    margin-bottom: 1px;
    color: #171717;
    transition: 0.2s;
}
.services .box .text{
    height: 53px;
    overflow: hidden;
}
.services .box .text p{
    color: #78909C;
    font-size: 12px;
    font-family: light;
    text-align: left;
    transition: 0.2s;
}
.services .box:hover{
    background-color: #E50019;
}
.services .box:hover .title,
.services .box:hover .text p{
    color: white;
}
.services .box:hover img{
    filter: brightness(0) invert(1);
}
.title-wrapper {
    margin-bottom: 20px;
}
.title-wrapper .title{
    display: block;
    width: 100%;
    margin-bottom: -7px;
}
.title-wrapper .title,
.title-wrapper .title b{
    font-size: 24px;
    font-family: caps;
    color: #546E7A;
}
.title-wrapper .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-wrapper .full{
    color: #E50019;
    font-size: 14px;
}
.title-wrapper .slider-arrows{
    display: flex;
}
.title-wrapper .slider-arrows button{
    width: 30px;
    height: 30px;
    background-color: #78909C;
    margin-left: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-wrapper .slider-arrows .slide-prev{
    padding-right: 2.5px;
}
.title-wrapper .slider-arrows .slide-next{
    padding-left: 2.5px;
}
.float-container{
    padding-left: calc( ( 100% - 1640px ) / 2);
}
.owl-carousel .owl-stage-outer{
    padding-bottom: 30px;
}
.main-box{
    width: 100%;
    background-color: white;
    padding: 2px;
}
.main-box .desc .top {
    display: flex;
    justify-content: space-between;
}
.main-box .top .right .grey-title:first-child{
    margin-right: 4px;
}
.main-box .top .right .grey-title:last-child{
    padding-left: 10px;
    position: relative;
}
.main-box .top .right .grey-title:last-child::before{
    width: 1px;
    height: 12px;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #78909C;
}
.main-box .desc .grey-title{
    font-size: 14px;
    color: #78909C;
}
.main-box .desc h2{
    font-family: caps;
    color: #171717;
    font-size: 15px;
    font-weight: bold;
    margin-top: 6px;
    height: 15px;
    margin-bottom: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main-box .desc .location{
    font-size: 13px;
    color: #546E7A;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.main-box .desc .location img{
    margin-right: 5px;
    height: 20px;
    width: fit-content;
}
.main-box .desc{
    padding: 18px;
    background-color: white;
}
.main-box .price{
    font-size: 18px;
    font-weight: bold;
    color: #E50019;
    font-family: caps;
    margin-right: 10px;
}
.main-box .price b{
    font-size: 14px;
    color: #E50019;
}
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    top: 2px;
    z-index: 2;
    cursor: pointer;
}
.switch::before{
    content: '₾';
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 15px;
    font-family: caps;
}
.switch::after{
    font-size: 15px;
    font-family: caps;
    content: '$';
    position: absolute;
    right: 4px;
    top: 50%;
    width: 12px;
    transform: translateY(-50%);
    z-index: 1;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #D0E6F5;
}
.switch .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: #D0E6F5;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch input:checked + .slider {
    background-color: transparent;
}
.switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
.switch input:checked + .slider:before {
    transform: translateX(20px);
}
.switch .slider.round {
    border-radius: 34px;
}
.switch .slider.round:before {
    border-radius: 50%;
}
.float-slider{
    position: relative;
}
.float-slider::before{
    content: '';
    bottom: 50px;
    position: absolute;
    left: 0;
    background-color: #EEF6FB;
    width: calc( ( 100% - 1100px ) / 2);
    height: 80px;
}
.add-app .title-wrap{
    padding: 20px 50px;
    background-color: #DDEBF5;
    width: fit-content;
    margin-bottom: 20px;
    border-radius: 5px;
}
.add-app .title-wrap span{
    color: #171717;
    font-size: 24px;
    font-weight: bold;
    font-family: caps;
    display: block;
    width: 100%;
}
.add-app .title-wrap .dang-title{
    color: #E50019;
    font-size: 18px;
    margin-top: -5px;
    font-family: caps;
}
.add-app .text{
    max-height: 130px;
    overflow: hidden;
}
.add-app .text p{
    color: #78909C;
    font-size: 14px;
}
.add-app .frame-wrap{
    display: flex;
    position: relative;
}
.add-app .img-frame{
    border-radius: 5px;
}
.add-app .img-frame.big{
    height: 340px;
    position: relative;
}
.add-app .frame-wrap::after{
    background-color: #D0E6F5;
    border-radius: 5px;
    width: 260px;
    height: 150px;
    content: '';
    position: absolute;
    right: 265px;
    top: 50px;
    z-index: -9;
}
.add-app .img-frame.right{
    height: 340px;
    margin-top: 100px;
}
.add-app .img-frame.sm{
    height: 150px;
    width: 260px;
    border-radius: 5px;
    padding: 2px;
    background-color: white;
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.add-app .add-btn{
    font-size: 18px;
    font-family: caps;
    color: white;
    font-weight: bold;
    background-color: #E50019;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0px 20px;
    padding-top: 2px;
    margin-top: 20px;
}
.add-app .add-btn img{
    margin-left: 20px;
    margin-bottom: 2px;
}
.add-app .left-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.add-app{
    margin-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #D0E6F5;
    margin-bottom: 50px;
}
.new-apps .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.new-apps .main-box{
    border-radius: 50px 5px 50px 5px;
    overflow: hidden;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 5px 20px rgba(29, 31, 58, 0.102);
    transition: 0.2s;
}
.main-box .img-frame {
    height: 240px;
    display: block;
}
.new-apps .main-box .img-frame {
    border-radius: 45px 5px 45px 5px;
    display: block;
    height: 190px;
    transition: 0.2s;
}
.main-box {
    box-shadow: 0px 5px 20px rgba(29, 31, 58, 0.102);
}
.main-box .img-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.new-apps .main-box .desc{
    padding: 10px ;
}
.new-apps .main-box .desc h2{
    margin-top: 10px;
}
.new-apps .main-box .desc .location{
    margin-top: 9px;
}
.new-apps{
    padding-bottom: 50px;
    border-bottom: 1px solid #D0E6F5;
    margin-bottom: 50px;
}
.blog-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}
.blog-title span{
    font-size: 24px;
    color: #E50019;
    font-weight: bold;
    font-family: caps;
    display: block;
}
.blog-title .text p{
    color: #78909C;
    font-size: 14px;
    font-family: light;
}
.blog .box {
    background-color: white;
    border-radius: 5px;
    box-shadow : 0px 5px 20px rgba(0, 0, 0, 0.102);
    display: block;
}
.blog .box .img-frame{
    height: 300px;
    width: 100%;
    border-radius: 5px;
    padding: 2px;
    background-color: white;
}
.blog .box .date{
    font-size: 12px;
    color: #E50019;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
}
.blog .box h2{
    font-size: 18px;
    color: #546E7A;
    font-weight: bold;
    font-family: caps;
    margin-bottom: 10px;
}
.blog .box .text{
    max-height: 57px;
    overflow: hidden;
}
.blog .box .text p{
    font-family: light;
    font-size: 13px;
    color: #78909C;
}
.blog .center{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50pxs;
}
.blog .center a{
    padding: 0px 20px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #D0E6F5;
    border-radius: 30px;
    font-size: 14px;
    color: #546E7A;
    font-weight: bold;
    font-family: caps;
    padding-top: 2px;
}
.blog .center a img{
    margin-left: 10px;
    position: relative;
    top: -2px;
}
.blog .box .desc{
    padding: 0px 20px 20px 20px;
}
.location-bl .box{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
     height: 60px;
     padding: 0px 20px;
     border-radius: 6px;
     overflow: hidden;
     margin-bottom: 20px;
}
.location-bl .box img{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.location-bl .box::after{
    content: '';
    background-color: rgba(29, 31, 58, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: white;
    transition: 0.2s;
}
.location-bl .box:hover::after{
    background-color: rgba(29, 31, 58, 0.8);
}
.location-bl .box:hover *{
    color: white!important;
}
.location-bl .box h4{
    font-size: 16px;
    color: #3C515B;
    font-family: caps;
    position: relative;
    z-index: 3;
    transition: 0.2s;
}
.location-bl .box .danger{
    color: #E50019!important;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
}
.location-bl .box .sm-title{
    font-size: 12px;
    color: #3C515B;
    font-family: light;
    transition: 0.2s;
}
.location-bl .box .inner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 3;
}
.location-bl{
    background-color: #EEF6FB;
    padding-top: 50px;
    margin-top: 50px;
}
footer{
    position: relative;
    background-color: #EEF6FB;
}
footer::before{
    content: '';
    position: absolute;
    left: 0;
    width: calc( ( 100% - 1640px ) / 2);
    background-color: #1D1F3A;
    height: 140px;
}
footer .danger-btn{
    margin: 0;
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 60px;
    padding: 0px 20px;
    font-size: 18px;
}
footer .danger-btn img{
    margin-left: 20px;
    height: 30px;
}
footer .footer-contact a{
    font-size: 16px;
    font-family: light;
    color: #1D1F3A;
    font-weight: bold;
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
}
footer .footer-contact a img{
    margin-right: 5px;
}
footer .copyright {
    background-color: #1D1F3A;
    padding: 15px 0px;
}
footer .copyright p,
footer .copyright span{
    color: white;
    font-size: 14px;
}
footer .copyright .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .copyright .wrapper ul{
    display: flex;
}
.mob-menu .socials a,
footer .copyright .wrapper ul a{
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #363964;
    border-radius: 50%;
    margin: 0px 5px;
}
section{
    min-height: calc( 100vh - 173px );
}
.search-page .intro img{
    opacity: 0.5;
    width: 100%;
}
.intro .art img{
    width: 100%;
}
.search-page .filter{
    padding: 20px 20px 0.1px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(29, 31, 58, 0.102);
    margin-bottom: 20px;
}
.search-page .filter .input{
    background-color: #EEF6FB;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}
.search-page .filter .input input::placeholder{
    font-size: 12px;
    color: #78909C;
}
.search-page .filter .input input{
    padding-left: 20px;
    width: 100%;
    background-color: transparent;
    font-size: 12px;
}
.search-page .filter .filt-title{
    font-size: 14px;
    color: #546E7A;
    font-weight: bold;
    font-family: caps;
    line-height: 18px;
    display: block;
    margin-bottom: 10px;
}



/* rangeslider styles  */
.ui-widget.ui-widget-content{
    border: none;
    background-color: #EEF6FB;
    border-radius: 2px;
    height: 3px;
}
.ui-slider .ui-slider-range{
    background-color: #E50019;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: 3px solid #E50019;
    outline: none;
    cursor: pointer;
}
.rangeVal{
    width: fit-content;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 12px;
    color: #78909C;
    position: absolute;
    top: -9px;
    padding: 0px;
}
.rangeVal.left{
    left: 0;
    transform: translateX(-50%);
}
.rangeVal.right{
    transform: translateX(25%);
    right: 0;
}
.rangeslider{
    position: relative;
    padding-top: 15px;
    margin-bottom: 20px;
}
.search-page .checkbox-list button{
    width: 100%;
}
.search-page .filter .checkbox-list .filt-title{
    margin-bottom: 4px;
}
.search-page .checkbox-list li {
    margin-bottom: 4px;
}
.search-page .checkbox-list li label{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    color: #78909C;
    cursor: pointer;
}
.search-page .checkbox-list{
    margin-bottom: 13px;
}
.search-page .checkbox-list ul{
    padding-left: 10px;
}
.search-page .filter .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search-page .filter .wrapper .submit-btn{
    border-radius: 5px;
    background-color: #E50019;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 3px;
}
.search-page .filter .wrapper .submit-btn.clear{
    background-color: grey;
}
.search-page .filter .input-form{
    width: 100%;
    margin-right: 20px;
}
.search-page .filter .input-form:last-child{
    margin-right: 0px;
}
.search-page .submit-btn{
    background-color: #E50019;
    color: white;
    height: 40px;
    font-size: 16px;
    font-family: caps;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 5px;
    color: white;
}
.search-page .btn-wrap button{
    width: calc( 50% - 10px);

}
.search-page .filter .input-form label{
    height: 40px;
    border-radius: 5px;
    border: 1px solid #D0E6F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-page .filter .input-form label span{
    font-size: 14px;
    color: #78909C;
    padding-right: 10px;
    border-right: 1px solid #78909C;
}
.search-page .filter .input-form label input{
    padding: 0px;
    font-size: 12.2px;
    padding-top: 0px;
    margin-top: 0.1px;
    padding-left: 5px;
}
.banner{
    position: relative;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.banner::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(29, 31, 58, 0.8);
    width: 100%;
    height: 100%;
}
.banner .white{
    color: white;
    font-size: 24px;
    font-family: caps;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: block;
    margin-bottom: -3px;
}
.banner .danger{
    font-size: 18px;
    color: #E50019;
    font-weight: bold;
    font-family: caps;
    position: relative;
    z-index: 1;
}
.banner .danger-btn{
    padding: 0px 20px;
    height: 60px;
    border-radius: 5px;
    font-size: 18px;
}
.banner .danger-btn img{
    margin-left: 20px;
    height: 30px;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination li{
    margin: 0px 5px;
}
.pagination li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    color: #546E7A;
    transition: 0.2s;
}
.pagination li:first-child a,
.pagination li:last-child a{
    background-color: #E50019;
}
.pagination ul{
    display: flex;
}
.pagination li a:hover{
    background-color: #E50019;
    color: white;
}
.pagination .dots a{
    background-color: white!important;
    color: #546E7A!important;
}
.blog-banner{
    margin-top: 20px;
    position: relative;
    display: flex;
    width: 100%;
    height: 150px;
}
.blog-banner img{
    width: 100%;
}
.blog-banner .absolute{
    top: 17px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.blog-banner .absolute span{
    font-size: 24px;
    color: #1D1F3A;
    font-weight: bold;
    font-family: caps;
}
.blog-banner .absolute p{
    font-size: 16px;
    color: #1D1F3A;
    font-weight: bold;
}
.main-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 72px;
    font-family: caps;
    font-weight: bold;
    color: #EEF6FB;
    margin-top: 10px;
    text-align: center;
}
.main-title span{
    color: #E50019;
    font-size: 16px;
    font-family: caps;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.about-us .text{
    margin-bottom: 30px;
}
.about-us .text p{
    font-size: 15px;
    color: #78909C;
    font-family: light;
}
.about-us .box{
    width: 100%;
    margin-bottom: 20px;
}
.about-us .box .img-frame{
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    border-radius: 5px;
}
.about-us .box .img-frame span{
    color: #1D1F3A;
    font-size: 13px;
    font-family: caps;
    font-weight: bold;
    position: absolute;
    bottom: -200%;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 0px 15px;
    background-color: white;
    transition: 0.3s;
    z-index: 1;
}
.about-us .box:hover .img-frame span{
    bottom: 20px;
}
.about-us .box:hover .img-frame::after{
    opacity: 0.6;
}
.about-us .box .img-frame::after{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #E50019;
    opacity: 0.7;
    content: '';
    opacity: 0;
    transition: 0.3s;
}
.about-us .box .name{
    font-size: 16px;
    color: #546E7A;
    font-family: caps;
    font-weight: bold;
    margin: 0px 0px 2px 0px;
    padding-top: 10px;
    display: block;
    line-height: 15px;
}
.about-us .box .sub{
    font-size: 14px;
    font-weight: bold;
    color: #E50019;
    display: block;
}
.services-page .block{
    width: 100%;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    height: 200px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.071);
}
.services-page .block:hover .left img{
    filter: invert(19%) sepia(100%) saturate(7488%) hue-rotate(349deg) brightness(87%) contrast(108%);
}
.services-page .block:hover .left{
    background-color: #E50019;
}
.services-page .block .left{
    flex-shrink: 0;
    background-color: #546E7A;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    transition: 0.35s;
}
.services-page .block:hover .right h5{
    color: #E50019;
}
.services-page .block .left span{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-page .right{
    padding: 20px;
}
.services-page .block h5{
    font-size: 16px;
    color: #171717;
    font-weight: bold;
    font-family: caps;
    margin-bottom: 10px;
    transition: 0.2s;
}
.services-page .block .text{
    max-height: 135px;
    overflow: hidden;
}
.services-page .block .text p{
    font-size: 14px;
    color: #78909C;
    line-height: 19px;
}
.services-page .blog .box .img-frame{
    height: 240px;
}
.services-page .blog .box h2{
    font-size: 13.9px;
}
.services-page .blog{
    margin-top: 20px;
    margin-bottom: 40px;
}
.services-page .blog .blog-title{
    justify-content: flex-start;
    align-items: flex-start;
}
.services-page .blog .blog-title span{
    color: #546E7A;
    margin-bottom: -4px;
}
.blog-page .content-cont{
    height: 650px;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.102);
}
.blog-page .content-cont .leftside{
    width: 1050px;
    height: 100%;
    flex-shrink: 0;
}
.blog-page .content-cont .leftside img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-page .content-cont .rightside {
    padding: 40px;
    background-color: white;
}
.blog-page .date{
    font-size: 12px;
    color: #E50019;
}
.blog-page .rightside h2{
    font-size: 18px;
    font-weight: bold;
    font-family: caps;
    margin: 10px 0px;
}
.blog-page .rightside .text {
    max-height: 510px;
    overflow: hidden;
}
.blog-page .rightside .text p{
    font-size: 15px;
    color: #78909C;
}
.blog-page .blog .box{
    margin-bottom: 20px;
}
.blog-page .blog .box .img-frame{
    height: 240px;
}
.blog-page .blog .box h2{
    font-size: 13.9px;
}
.blog-page .pagination {
    margin-bottom: 20px;
}
.blog-page .main-title {
    margin-bottom: 15px;
}
.services-detail .services{
    display: block;
}
.services-detail .services .box{
    display: block;
    margin-bottom: 20px;
}
.services-detail .title{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 10px 0px;
    align-items: flex-start;
    position: relative;
}
.share{
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
.share span{
    font-size: 14px;
    color: #78909C;
}
.share .arr{
    margin: 0px 10px;
}
.share ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.share ul li{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #D0E6F5;
    transition: 0.2s;
    cursor: pointer;
}
.share ul li:hover{
    background-color: #546E7A;
}
.share ul li:hover img{
    filter: brightness(0) invert(1);
}
.services-detail .title h2{
    font-size: 24px;
    color: #546E7A;
    font-weight: bold;
    font-family: caps;
    padding-top: 3px;
}
.services-detail .date{
    font-size: 12px;
    color: #E50019;
}
.services-detail .text p{
    color: #78909C;
    font-size: 15px;
}
.services-detail .big.img-frame {
    height: 650px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}
.warning-box{
    background-color: rgba(229, 0, 25, 0.2);
    margin-bottom: 20px;
    padding: 10px;
}
.warning-box p{
    font-size: 14px;
    color: #1D1F3A;
    font-weight: bold;
    text-align: center;
}
form input.input{
    height: 40px;
    border-radius: 5px;
    padding: 0px 20px;
    border: 1px solid #A7C8D9;
    background-color: white;
    font-size: 14px;
    color: #171717;
    width: 100%;
    margin-bottom: 20px;
}
form input.input{
    font-size: 14px;
    color: #171717;
}
.add-page .dropdown .selected{
    border-radius: 5px;
    padding: 0px 10px;
    border: 1px solid #A7C8D9;
    background-color: white;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    width: 50px;
}
.add-page .dropdown.active .selected{
    border-radius: 5px 5px 0px 0px;
}
.add-page .dropdown .selected span{
    font-size: 18px;
    font-family: caps;
    font-weight: bold;
}
.add-page .dropdown .result li{
    width: 50px;
    border: 1px solid #A7C8D9;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: caps;
    font-weight: bold;
    margin-top: -1px;
    cursor: pointer;
    transition: 0.2s;
}
.add-page .dropdown .result li:last-child{
    border-radius: 0px 0px 5px 5px;
}
.add-page .dropdown .result li:hover{
    background-color: #E50019;
    color: white;
    border: 1px solid transparent;
}
.dropdown .result{
    position: absolute;
}
.add-page form textarea{
    height: calc( 100% - 20px );
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid #A7C8D9;
    background-color: white;
    font-size: 14px;
    color: #171717;
    width: 100%;
    margin-bottom: 20px;
}
.add-page form textarea::placeholder{
    font-size: 14px;
    color: #171717;
}
.up-title{
    display: block;
    font-size: 16px;
    color: #171717;
    margin-bottom: 10px;
    font-family: caps;
}
.upload{
    display: flex;
}
.upload .select{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #E50019;
    margin-right: 20px;
}
.upload .select label{
    font-size: 14px;
    color: white;
    font-weight: bold;
    font-family: caps;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 0px 15px;
    align-items: center;
    cursor: pointer;
}
.upload .select label img{
    margin-left: 10px;
    position: relative;
    top: -1px;
}
.upload .list li{
    position: relative;
    display: inline-flex;
    margin-right: 20px;
}
.upload .list li .close-btn{
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
}
.upload .list li .img{
    height: 90px;
    width: 120px;
    border-radius: 5px;
    object-fit: cover;
}
.accept-agreement input[type="checkbox"]{
    margin-bottom: 0px;
    margin-left: 10px;
}
.accept-agreement {
    cursor: pointer;
    font-size: 14px;
    color: #1D1F3A;
    margin-top: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
form .success-btn{
    border-radius: 5px;
    background-color: #28A745;
    color: white;
    font-size: 14px;
    font-family: caps;
    font-weight: bold;
    height: 40px;
    padding: 0px 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.detail-page .gallery{
    background-image: url(../img/repeat.svg);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
    background-color: #455D68;
}
.detail-page .owl-container{
    width: 1100px;
    margin: auto;
    position: relative;
    height: 100%;
}
.detail-page .gallery,
.detail-page .owl-container .first.owl-carousel .item img{
    height: 650px;
}
.detail-page .owl-container .first.owl-carousel .item img{
    width: 100%;
    object-fit: cover;
}
.detail-page .owl-container .sec.owl-carousel .item{
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s;
}
.detail-page .owl-container .sec.owl-carousel .item.active,
.detail-page .owl-container .sec.owl-carousel .item:hover{
    border: 2px solid #D0E6F5;
}
.detail-page .owl-container .sec.owl-carousel .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detail-page .synced-owl{
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 0px 10px;
}
.detail-page .owl-stage-outer{
    padding-bottom: 0px;
}
.detail-page .slide-btn{
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}
.detail-page .slide-prev{
    left: 20px;
}
.detail-page .slide-next{
    right: 20px;
}
.return-page{
    display: flex;
    margin: 20px 0px;
}
.return-page a{
    font-size: 12px;
    color: #78909C;
    font-weight: bold;
    padding-left: 5px;
}
.detail-page .views span{
    color: #546E7A;
    font-size: 12px;
    margin-left: 20px;
}
.detail-page .views span b{
    font-size: 16px;
    color: #E50019;
}
.detail-page .content{
    border: 1px solid #D0E6F5;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 50px;
}
.detail-page .content .wrapper{
    padding: 20px;
    border-bottom: 1px solid #D0E6F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.detail-page .content .title{
    font-size: 20px;
    color: #171717;
    font-weight: bold;
    font-family: caps;
}
.detail-page .location{
    color: #546E7A;
    font-size: 13px;
}
.detail-page .det-info{
    border-bottom: 1px solid #D0E6F5;
    padding: 20px;
}
.detail-page .det-info ul{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.detail-page .det-info ul li{
    color: #78909C;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.detail-page .det-info ul li img{
    margin-right: 10px;
}
.detail-page .content .desc{
    padding: 30px 20px;
    border-bottom: 1px solid #D0E6F5;
}
.detail-page .text{
    margin-top: 10px;
}
.detail-page .text p{
    color: #78909C;
    font-size: 14px;
}
.detail-page .grid{
    padding: 30px 20px;
}
.detail-page .grid ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}
.detail-page .grid li{
    color: #78909C;
    font-size: 14px;
}
.detail-page .price-wrap{
    border: 1px solid #D0E6F5;
    border-radius: 5px;
    padding: 11.5px 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.detail-page .price-wrap .price{
    color: #E50019;
    font-family: caps;
    font-weight: bold;
    font-size: 30px;
}
.detail-page .price-wrap .price b{
    color: #E50019;
    font-family: caps;
    font-size: 20px;
    margin-left: 8px;
}
.detail-page .price-wrap .price span{
    font-size: 20px;
    font-family: caps;
    font-weight: normal;
    color: #546E7A;
}
.detail-page .price-wrap .switch::before,
.detail-page .price-wrap .switch::after{
    font-size: 18px;
    padding-bottom: 3px;
}
.detail-page .price-wrap .switch::before{
    left: 9px;
}
.detail-page .price-wrap .switch::after{
    right: 9px;
}
.detail-page .price-wrap .switch .slider:before {
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 1px;
}
.detail-page .price-wrap .switch{
    width: 55px;
    height: 30px;
}
.detail-page .price-wrap .switch input:checked + .slider:before{
    transform: translateX(+23px);
}
.detail-page .share{
    border: 1px solid #D0E6F5;
    border-radius: 5px;
    padding: 19px 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}
.detail-page .call-us{
    display: flex;
    height: 70px;
    background-color: #E50019;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.detail-page .call-us span:first-child{
    color: white;
    font-size: 18px;
    font-family: caps;
    font-weight: bold;
    display: block;
    margin-bottom: -2px;
}
.detail-page .call-us span:last-child{
    font-size: 16px;
    color: white;
    font-family: caps;
}
.detail-page .call-us span img{
    margin-right: 10px;
}
.detail-page .call-us div{
    margin-left: 10px;
}
.detail-page .blog{
    margin-bottom: 50px;
}
.detail-page .blog-title{
    align-items: flex-start;
    margin-top: 30px;
}
.detail-page .blog-title span{
    color: #546E7A;
    margin-bottom: -3px;
}
.detail-page .blog .box .img-frame{
    height: 240px;
}
.detail-page .blog .box h2{
    font-size: 13.9px;
}
.detail-page .blog .box .text p{
    font-size: 12px;
}
.detail-page .main-box{
    margin-bottom: 20px;
}




/* menu bar */
.menu-bar{
    width: 45px;
    height: 39px;
    margin-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border: 2px solid #cc1c30;
    padding: 6px 5px;
    border-radius: 2px;
    transition: 0.2s;
}
.menu-bar .line{
    width: 100%;
    height: 3px;
    border-radius: 130px;
    background-color: #cc1c30;
    transition: 0.2s;
}
.menu-bar .line:nth-child(1){
    width: 25px;
    display: flex;
    align-self: end;
}
.menu-bar .line:nth-child(2){
    width: 25px;
}
.menu-bar:hover{
    /* border-radius: 50%; */
}
.menu-bar:hover .line{
    width: 100%;
}
.menu-bar.active{}
.mob-menu{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    right: 0;
    top: 0;
    z-index: 100;
    padding-top: 50px;
    transition: 0.5s;
    right: -150%;
}
.cancel{
    position: absolute;
    top: 30px;
    right: 25px;
}
.cancel img{
    height: 20px;
}
.mob-menu.active{
    right: 0;
}
.mob-menu .menu{
    padding-right: 50px;
    display: block;
}
.mob-menu .menu a{
    text-align: right;
}
.mob-menu .menu li{
    margin-right: 0px;
    margin-bottom: 5px;
}
.mob-menu .socials{
    width: calc( 100% - 50px );
    margin: 0px auto 0px auto;
    border-top: 1px solid #DDEBF5;
    border-bottom: 1px solid #DDEBF5;
    margin-top: 40px;
    padding: 20px 0px;
}
.mob-menu .socials ul{
    display: flex;
    justify-content: center;
    width: 100%;
}
.mob-contact{
    width: calc( 100% - 50px );
    margin: 20px auto 0px auto;
}
.mob-contact a{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: caps;
    color: #121212;
    font-weight: bold;
}
.mob-contact a img{
    margin-right: 10px;
    height: 25px;
    filter: brightness(0.1);
}
/* .menu-bar .line:nth-child(3){
    width: 30px;
    display: flex;
    align-self: center;
} */


@media (max-width: 1680px) {
    .services-detail .big.img-frame{
        height: 530px;
    }
    .services-page .blog .box .img-frame{
        height: 200px;
    }
    header .menu{
        margin-left: 50px;
    }
    header .menu li{
        margin-right: 30px;
    }
    .float-container {
        padding-left: calc( ( 100% - 1310px ) / 2);
    }
    .new-apps .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .add-app .img-frame.big{
        height: 260px;
    }
    .add-app .img-frame.right{
        height: 210px;
    }
    .add-app .img-frame.sm{
        right: 0px;
    }
    footer::before{
        width: calc( ( 100% - 1200px ) / 2);
    }
    .about-us .box .img-frame{
        height: 320px;
    }
    .detail-page .price-wrap .price{
        font-size: 20px;
    }
    .detail-page .price-wrap .price b{
        font-size: 14px;
    }
    .detail-page .price-wrap .price span{
        font-size: 14px;
    }
    .detail-page .price-wrap{
        padding: 11.5px 20px;
    }
    .detail-page .share {
        padding: 35px 0px 10px 0px;
    }
    .detail-page .share span{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .detail-page .blog .box .img-frame{
        height: 200px;
    }
}
.hidden-1340{
    display: none;
}
@media(max-width: 1339px){
    .detail-page .share span{
        position: unset;
    }
    .detail-page .share{
        padding: 11.5px 0px;
        display: inline-flex;
        width: calc( 50% - 20px );
        align-self: flex-end;
        margin-left: 14px;
        top: -3px;
    }
    .detail-page .price-wrap{
        display: inline-flex;
        width: 50%;
    }
    header .menu{
        display: none;
    }
    .hidden-1340{
        display: inline-flex;
    }
    .services{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .float-container {
        padding-left: calc( ( 100% - 940px ) / 2);
    }
    .new-apps .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .blog .box{
        margin-bottom: 20px;
    }
    .blog .box .img-frame{
        height: 260px;
    }
    .add-app .img-frame.right{
        height: 270px;
    }
    .add-app .img-frame.sm{
        right: 10px;
    }
    footer::before{
        width: calc( ( 100% - 860px ) / 2);
    }
    .services-page .blog .box .img-frame{
        height: 260px;
    }
    .services-page .blog .box h2{
        font-size: 15px;
    }
    .services-detail .services{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .services-detail .services .box{
        margin-bottom: 0px;
    }
    .add-page form textarea{
        height: 150px;
    }
    .add-page .main-title{
        font-size: 50px;
    }
    .detail-page .services{
        display: grid!important;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .detail-page .services .box{
        margin-bottom: 0px!important;
    }
}
@media (max-width: 1200px) {
    .detail-page .owl-container{
        width: 970px;
    }

}
@media (max-width: 991px) {
    .detail-page .grid ul{
        grid-template-columns: 1fr 1fr;
    }
    .detail-page .owl-container{
        width: 740px;
    }
    .services{
        grid-template-columns: 1fr 1fr;
    }
    .float-container{
        width: 100%;
        padding-left: 40px;
    }
    .float-cust.container{
        max-width: 100%;
        padding-left: 40px;
        padding-right: 50px;
    }
    .main-box .img-frame{
        height: 210px;
    }
    .new-apps .grid {
        grid-template-columns: 1fr 1fr;
    }
    .blog .box .img-frame{
        height: 200px;
    }
    .blog .box .date{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .blog .box h2 {
        font-size: 15px;
        line-height: 18px;
    }
    .add-app .img-frame.sm{
        display: none;
    }
    footer::before {
        width: calc( ( 100% - 700px ) / 2);
        height: 113px;
        top: 6px;
    }
    footer .copyright .wrapper{
        flex-wrap: wrap;
        align-items: flex-start;
    }
    footer .copyright .wrapper p{
        margin-bottom: 20px;
    }
    .services-detail.services-page .blog .box .img-frame{
        height: 200px;
    }
    .services-page .share{
        position: absolute;
        top: -30px;
        right: 0;
    }
    .services-detail .big.img-frame {
        height: 410px;
    }
    .services-detail .title h2{
        padding-top: 15px;
    }
    .detail-page .gallery,
    .detail-page .owl-container .first.owl-carousel .item img{
        height: 450px;
    }
    .return-page{
        display: none;
    }
    .detail-page .content{
        margin-top: 20px;
    }
    .detail-page .det-info ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .detail-page .services{
        grid-template-columns: 1fr 1fr;
    }
    .detail-page .share{
        width: calc( 60% - 20px );
    }
    .detail-page .price-wrap{
        width: 40%;
    }
}


@media (max-width: 768px) {
    .detail-page .share{
        width: 100%;
        margin-left: 0px;
    }
    .detail-page .price-wrap{
        width: 100%;
    }
    .detail-page .owl-container{
        width: calc(100% - 50px);
    }
    .detail-page .gallery,
    .detail-page .owl-container .first.owl-carousel .item img{
        height: 350px;
    }
    .services-page .blog .box .img-frame{
        height: 260px;
    }
    .new-apps .main-box .img-frame{
        height: 150px;
    }
    .new-apps .main-box .desc h2 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .blog .box .img-frame{
        height: 260px;
    }
    .blog .box .date{
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .blog .box h2 {
        font-size: 18px;
        line-height: 21px;
    }
    .frame-wrap{
        flex-wrap: wrap;
        margin-left: -10px;
        margin-top: 20px;
    }
    .add-app .img-frame.right{
        display: none;
    }
    .add-app .frame-wrap::after{
        display: none;
    }
    .footer-container .back{
        display: none;
    }
    footer::before{
        content: unset;
    }
    footer .danger-btn{
        position: unset;
    }
    .footer-container{
        display: inline-flex!important;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
        justify-content: flex-start;
        align-items: flex-start!important;
        background-color: #1D1F3A;
        padding-top: 20px;
        border-bottom: 1px solid white;
    }
    .footer-contact{
        display: flex;
    }
    footer .danger-btn{
        margin-bottom: 20px;
        margin-left: 20px;
    }
    footer .footer-contact a{
        color: white;
    }
    .main-title{
        font-size: 60px;
    }
    .about-us .box{
        padding: 0px 50px;
    }
    .detail-page .content{
        position: relative;
        padding-top: 13px;
    }
    .detail-page .content .views{
        display: flex;
        position: absolute;
        top: 10px;
        right: 20px;
    }
    .detail-page .det-info ul{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 576px) {
    .detail-page .grid ul{
        grid-template-columns: 1fr;
    }
    .float-cust.container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .float-container{
        padding-left: 20px;
    }
    .main-title{
        font-size: 50px;
    }
    .services-detail .services{
        grid-template-columns: 1fr;
    }
    .services-detail.services-page{
        padding: 0px 20px;
    }
}
@media (max-width: 530px) {
    .title-wrapper .title,
    .title-wrapper .title b{
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    .detail-page .owl-container{
        width: 100%;
    }
    .detail-page .services{
        grid-template-columns: 1fr;
    }
    .detail-page .det-info ul{
        grid-template-columns: 1fr;
    }
    .services{
        grid-template-columns: 1fr;
        padding: 0px 20px;
    }
    .float-container{
        padding-right: 20px;
    }
    .new-apps .grid{
        grid-template-columns: 1fr;
        padding: 0px 20px;
    }
    .new-apps .title-wrapper{
        padding: 0px 20px;
    }
    .new-apps .main-box .img-frame{
        height: 200px;
    }
    .blog-title{
        padding: 0px 20px;
    }
    .location-bl{
        padding: 30px 20px;
    }
    .add-app .title-wrap{
        width: 100%;
    }
    .add-app .title-wrap{
        padding: 20px;
    }
    .footer-contact{
        flex-direction: column;
    }
}
@media (max-width: 380px) {
    .detail-page .share{
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .detail-page .share span{
        position: absolute;
    }
    .new-apps .main-box .img-frame{
        height: 170px;
    }
    .blog .box .img-frame{
        height: 200px;
    }
    .blog .box .date{
        margin-top: 5px;
        margin-bottom: 7px;
    }
    .blog .box h2 {
        font-size: 15px;.dropzone .dz-preview
        line-height: 18px;
    }
    .add-app .title-wrap span{
        font-size: 18px;
    }
    .add-app .title-wrap .dang-title{
        font-size: 16px;
    }
    .about-us .box{
        padding: 0px 20px;
    }
    .services-detail.services-page{
        padding: 0px 10px;
    }

}
.dropzone{
    padding: 0px;
    padding-top: 15px;
    border-radius: 5px;
    border: none;
}

.dropzone .dz-preview{
    margin: 0px 15px 15px 15px;
}
.upload .select{
    height: 130px;
}
.add-page .upload .select{
    margin-top: -31px;
}
